* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    line-height: 1.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #4c6ef5;
    color: white;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}






.hero {
    text-align: center;
    padding: 80px;
    background: #e5edff;
}

.hero-btn {
    padding: 10px 20px;
    margin-top: 15px;
    background: #4c6ef5;
    color: white;
    border: none;
    cursor: pointer;
}

/* SECTION TITLE */
.section-title {
    text-align: center;
    margin: 30px 0;
}

/* COURSE GRID */
.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 30px 30px;
}

.course-card {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
}

.course-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.inst-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    color: black;
    
}

.inst-card {
    text-align: center;
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    color: black;
}

.inst-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.instructors {
    background-color: #c6d2ed;  
    color:black;
    padding: 40px 20px;
}



/* TESTIMONIALS */
.test-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0 20px 40px;
}

.test-card {
    border: 1px solid black;
    padding: 20px;
    width: 40%;
}

/* PRICING */
.price-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-bottom: 40px;
    ;
    
}
/* Background color + darker border for pricing section */
.pricing {
    background-color: #c6d2ed;   /* light blue background */
    padding: 40px 20px;
    
}


.price-card {
    border: 1px solid black;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.price-card button {
    margin-top: 10px;
    padding: 10px;
    background: #4c6ef5;
    color: white;
    border: none;
}

/* CONTACT FORM */
.contact-form {
    width: 80%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid black;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #4c6ef5;
    color: white;
}


@media (max-width: 768px) {
    .course-grid {
        grid-template-columns: 1fr;
    }

    .test-grid {
        flex-direction: column;
    }

    .price-grid {
        flex-direction: column;
        align-items: center;
    }
}
